:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}
.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedbackButton {
  background-color: var(--color-black) !important;
  color: var(--color-primary) !important;
  border-radius: 12px;
}
